*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

img{
    border: 0;
    vertical-align: top;
}

.clearfix::after{
    content: "";
    display: table;
    clear:both;
}

body{
    color: #222328;
}

.wrap{
    width: 1200px;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 10;
}

.logo{
    float: left;
    width: 200px;
    padding-top: 30px;
}

.logo div{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: lightgreen;
    font-size: 18px;
}

nav{
    float: right;
    width: 700px;
    padding-top: 50px;
    margin-right: 30px;
}

.nav_bg{
    position: absolute;
    top: 100px;
    left: 0;
    height: 120px;
    width: 1200px;
    background-color: lightgreen;
    opacity: 0.9;
    display: none;
}

.gnb{
    position: absolute;
    width: 700px;
}

.gnb > li{
    float: left;
    width: 25%;
}

.gnb > li:hover > a{
    background-color: rgb(179, 255, 179);
    border-bottom: none;
}

.gnb > li > a{
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    border-right: none;
    font-size: 18px;
}

.gnb > li:last-child > a{
    border-right: 1px solid black;
}

.sub{
    width: 100%;
    height: auto;
    position: relative;
    display:none;
}

.sub > li{
    width: 100%;
    height: 40px;
}

.sub > li > a{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
}

.sub > li > a:hover{
    background-color: rgba(0, 128, 0, 0.2);
    color: white;
}

.slide{
    height: 300px;
    line-height: 300px;
    background-color: #bbb;
    position: relative;
    overflow: hidden;
}

.slider li{
    position: absolute;
    width: 100%;
    height: 300px;
    left: -1200px;
    top:0;
}

.slider > li:first-child{
    left: 0
}

.content{
    height: 200px;
    padding-top: 10px;
}

.content > section{
    width: 400px;
    float: left;
    height: 180px;
    padding: 0px 10px;
}

section > h3{
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: rgb(55, 197, 85);
    color: white;
    border-radius: 6px 6px 0 0;
    margin-left: 10px;
}

section > .box{
    width: 380px;
    height: 150px;
    padding: 5px;
    border: 1px solid black;
}

.notice > ul > li{
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid lightgray;
    margin-bottom:5px;
    padding: 0px 5px;
}

.notice > ul > li > a{
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notice > ul > li:hover{
    background-color: gray;
    color: white;
}

.notice > ul > li > a > span{
    float:right;
}

.gallery li{
    width: 100px;
    height: 100px;
    float: left;
    background-color: rgb(94, 212, 94);
    text-align: center;
    line-height: 100px;
    font-size: 3rem;
    margin-left: calc(70px/4);
    margin-top: 20px;
}

.banner > a{
    width: 100%;
    height: 100%;
    background-color: rgb(175, 236, 157);
    display: block;
    text-align: center;
    line-height: 180px;
    font-size: 5rem;
}


footer{
    height: 100px;
    line-height: 100px;
    background-color: #ddd;
}