* {
	margin: 0;
	padding: 0;
	color: #333;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

.container {
	width: 100%;
	background-color: #0076be;
}

.container:last-child {
	width: 100%;
	background-color: #47a2db;
}

.main_container {
	width: 1200px;
	margin: 0 auto;
}

header,
footer {
	margin: 0 auto;
	height: 100px;
	width: 1200px;
}

header > * {
	float: left;
}

.slide {
	width: 100%;
	height: 300px;
}

.content {
	width: 100%;
	height: 200px;
}

.logo {
	width: 200px;
	height: 100px;
	padding-top: 30px;
	float: left;
}

nav {
	border: 1px solid gray;
	width: 802px;
	margin-top: 25px;
	margin-left: 150px;
	position: relative;
	z-index: 999;
	background-color: #fff;
}

nav > ul {
	text-align: center;
}

.main > li {
	float: left;
}

.main > li > a {
	display: block;
	height: 50px;
	line-height: 50px;
	width: 200px;
	font-size: 20px;
	border-right: 1px solid gray;
	background-color: #fff;
}

.main > li:last-child > a {
	border-right: 0;
}

.main > li:hover > a {
	color: white;
	background-color: #e66b27;
}

.sub {
	border-top: 1px solid gray;
	display: none;
}

.sub > li > a {
	display: block;
	height: 40px;
	line-height: 40px;
	width: 200px;
	font-size: 17px;
}

.sub > li > a:hover {
	color: white;
	background-color: #e66b27;
}

.slide {
	width: 100%;
	height: 300px;
	position: relative;
}

.slider {
	width: 100%;
	height: 300px;
	overflow: hidden;
	position: absolute;
}

.slider > img {
	position: absolute;
	left: -1200px;
	width: 100%;
	height: 300px;
}

.slider > img:first-child {
	left: 0;
}

.content > div {
	width: 390px;
	height: 190px;
	margin: 5px;
	float: left;
	position: relative;
}

h3.tab {
	width: 100px;
	height: 30px;
	line-height: 30px;
	border: 1px solid black;
	border-radius: 5px 5px 0 0;
	text-align: center;
	margin-left: 20px;
	background-color: white;
	position: absolute;
	left: 0;
	top: 0;
}

h3.gal_tab {
	left: 99px;
}

.box {
	width: 100%;
	height: 160px;
	border: 1px solid black;
	margin-top: 29px;
}

.notice_gal > .box {
	display: none;
}

.notice_gal > .on {
	display: block;
}

h3.on {
	background-color: #e66b27;
	color: white;
}

.notice_gal .box {
	padding: 3px;
}

.notice_gal .box li {
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid gray;
	padding: 0 5px;
}

.notice_gal .box li a{
	display: block;
	float: left;
	width:max-content;
}

.notice_gal .box li:hover a{
	color: gray;
}

.notice_gal .box li span{
	float: right;
}

.notice_gal .box > a{
	width: 100px;
	height: 100px;
	margin: 10px 11px;
}

.notice_gal > .box > a:hover > img{
	position: relative;
	top: 10px;
}

.banner img{
	width: 388px;
	height: 158px;
}

.link a{
	margin: 11px auto;
	padding: 0 70px;
	display: block;
	width: 350px;
	height: 50px;
	line-height: 50px;
	border-radius: 4px;
	border: 1px solid black;
	font-size: 25px;
	font-weight: 800;
}
.link img{
	float: left;
	width: 45px;
	height: 45px;
	margin-right: 10px;
}

.fmenu, .copy{
	width: 950px;
	height: 50px;
	float: right;
	padding: 0 40px;
}

.fmenu > ul > li{
	line-height: 50px;
	float: left;
	font-size: 17px;
	margin: 0 63px;
	color: white;
}

.copy{
	border-top: 1px solid white;
	text-align: center;
	color: white;
	padding-top: 2px;
}

.flogo{
	width: 250px;
	border-right: 1px solid white;
}

.popup{
	width: 350px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border: 1px solid black;
	padding: 5px;
	display: none;
}

.popup > h2{
	border-bottom: 1px solid black;
	padding-bottom: 4px;
}

.popup > p{
	margin-top: 4px;
}

.popup > button{
	width: 60px;
	height: 30px;
	border: 1px solid gray;
	background-color: rgb(51, 51, 51);
	color: #fff;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.popup > button:hover{
	background-color: rgb(88, 88, 88);

}