* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-style: normal;
	color: #222328;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	display: block;
}

.logo {
	width: 200px;
	height: 100px;
	padding-top: 30px;
}

.wrap {
	width: 1000px;
	height: 650px;
}

.wrap > * {
	float: left;
}

header {
	width: 200px;
	height: 100%;
}

.container {
	width: 800px;
	height: 650px;
}

.main a {
	width: 180px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 19px;
	transition: 0.2s;
}

.main > li {
	margin: 10px;
}

.main a:hover {
	background-color: #83d0ff;
}

.main > li > a {
	border: 1px solid #fff;
	border-bottom-color: black;
}
.main > li:hover > a {
	border-radius: 10px 0 0 10px;
	background-color: #83d0ff;
	border-color: rgba(0, 0, 0, 0.76);
}

.main > li {
	position: relative;
	margin-bottom: 50px;
}

.sub {
	position: absolute;
	top: 0;
	left: 180px;
	display: none;
	z-index: 999;
	background-color: rgba(255, 255, 255, 0.842);
	border-radius: 0 10px 10px 10px;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.76);
	margin-left: -1px;
}

.sub a {
	width: 160px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.76);
}

.sub li:last-child a {
	border: none;
}

.slider {
	width: 800px;
	height: 350px;
	overflow: hidden;
	position: relative;
	border-radius: 15px;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.76);
}

.slider a {
	position: absolute;
	left: -800px;
	opacity: 0;
	z-index: 1;
	top: 0;
}

.slider a:first-child {
	left: 0;
	opacity: 1;
	z-index: -1;
}

.content {
	width: 800px;
	height: 200px;
	display: flex;
	justify-content: space-between;
}

.content > section {
	height: 200px;
	padding: 5px 0;
	position: relative;
}

section.notice_gal {
	width: 350px;
}

section.banner {
	width: 250px;
}

section.link {
	width: 200px;
}

.box {
	display: none;
	height: 160px;
	position: absolute;
	top: 34px;
	border: 1px solid black;
	display: none;
}

.notice_gal .box {
	width: 340px;
}

.banner .box {
	width: 240px;
}

div.on {
	display: flex;
}

h3.tab {
	position: absolute;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px 5px 0 0;
	border: 1px solid black;
	left: 30px;
	transition: 0.2s;
}

h3.on {
	background-color: rgba(131, 207, 255, 0.55);
}

section:hover h3.on {
	background-color: #83cfff;
}

.notice_gal .gt {
	margin-left: 99px;
}

.notice_gal ul {
	width: 100%;
	height: 100%;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.notice_gal li {
	width: 100%;
	padding: 0 5px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid gray;
	height: 30px;
	line-height: 30px;
	transition: 0.2s;
	border-radius: 5px 5px 0 0;
}

.notice_gal li:hover {
	background-color: rgba(131, 207, 255, 0.55);
}

.gb > a {
	float: left;
	margin-left: 10px;
	margin-top: 30px;
	transition: 0.2s;
}

.gb > a:hover {
	opacity: 0.5;
}

.notice_gal img:hover {
	opacity: 0.5;
}

.notice_gal img {
	width: 100px;
}

.link {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.link img {
	width: 50px;
	display: block;
	float: left;
	margin: 5px;
}

.link a {
	padding: 0 5px;
	width: 100%;
	height: 60px;
	line-height: 60px;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	font-size: 19px;
	transition: 0.2s;
	font-weight: bold;
	opacity: 0.7;
}

.link a:hover {
	border-color: #83d0ff;
	opacity: 1;
}

footer {
	width: 800px;
	height: 100px;
	background-color: #73838d;
}

footer > * {
	float: left;
	height: 100px;
}

.copy {
	width: 400px;
	font-size: 12px;
	text-align: center;
	padding-top: 25px;
	opacity: 0.7;
	transition: 0.2s;
}

.copy:hover {
	opacity: 1;
}

.family {
	width: 200px;
	text-align: center;
}

.family .con {
	width: 180px;
	margin: 30px auto;
	border: 1px solid rgb(94, 94, 94);
	border-radius: 10px;
	overflow: hidden;
	background-color: rgb(146, 146, 146);
}

.con:hover > div {
	background-color: rgb(114, 114, 114);
	color: black;
}

.con > div {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	transition: 0.2s;
}

.con ul {
	display: none;
}

.con li {
	height: 30px;
	line-height: 30px;
	font-size: 15px;
}

.con li:hover {
	background-color: rgba(131, 207, 255, 0.55);
}

.modal {
	z-index: 99;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.pp {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 400px;
	background-color: #fff;
	border: 1px solid black;
	padding: 10px;
}

.pp h3 {
	text-align: center;
	padding: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #83d0ff;
}

.pp ul {
	padding: 10px;
}

.pp button {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	border: 0;
	color: #fff;
	background-color: rgb(51, 51, 51);
	font-size: 17px;
}

.pp button:hover {
	background-color: rgb(77, 77, 77);
}

#modalAnchor {
	display: inline;
	text-decoration: underline;
	color: unset;
}

i {
	display: inline-block;
	transition: 0.5s;
}

i.on {
	transform: rotate(180deg);
}
