*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

img{
    border: 0;
    vertical-align: top;
}

.clearfix::after{
    content: "";
    display: table;
    clear:both;
}

body{
    color: #222328;
}

.wrap{
    width: 1000px;
}

header{
    float: left;
    width: 200px;
    height: 600px;
    background-color: lightgray;
}

.logo{
    width: 200px;
    height: 60px;
    line-height: 60px;
    display: block;
    text-align: center;
    font-size: 18px;
    background-color: rgb(136, 42, 173);
    color: white;
}

nav{
    width: 180px;
    margin: 0 auto;
}

.gnb{
    width: 100%;
    text-align: center;
}

.gnb > li{
    width: 100%;
}

.gnb > li > a{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    display: block;
    color: black;
    background-color: rgb(188, 146, 207);
}

.gnb > li:hover > a{
    color: white;
    background-color: rgb(96, 50, 117);
}

.sub{
    display: none;
    width: 100%;
}

.sub > li{
    width: 100%;
    height: 30px;
}

.sub > li > a{
    width: 100%;
    height: 30px;
    line-height: 30px;
    display: block;
    color: black;
    background-color: rgb(186, 116, 196);
}

.sub > li:hover > a{
    color: white;
    background-color: rgb(125, 46, 136);
}


.r_con{
    float: right;
}

.r_con > *{
    width: 800px;
    text-align: center;
    font-size: 3rem;

}

.slide{
    height: 300px;
    position: relative;
}

.slider{
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.slider li{
    position: absolute;
    opacity: 0;
}

.slider li:first-child{
    opacity: 1;
}

.content{
    width: 800px;
    height: 200px;
    font-size: 15px;
}

.content > .notice_gal{
    width: 340px;
}

.content > section{
    float: left;
    width: 230px;
    height: 100%;
    padding: 0px 10px;
    padding-top: 10px;
}

section > .tab{
    width: 100%;
    height: 30px;
    padding-left: 10px
}

section > .tab > h3{
    float:left;
    width: 80px;
    height: 30px;
    line-height: 30px;
    background-color: #ccc; 
    color:white;
    text-align: center;
    border-radius: 4px 4px 0 0;
}

.tab > h3.on{
    background-color: rgb(141, 0, 28);
}

section > .box{
    width: 100%;
    height: 150px;
    border: 1px solid black;
    border-radius: 0 15px 0 0;
    overflow: hidden;
}

.box > ul{
    display: none;
    width: 300px;
    height: 100%;
    margin: 0 auto;
    padding-top: 5px;
    text-align: left;
}

.box > .on{
    display: block; 
}

.notice > li{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
}

.notice > li > a{
    height: 100%;
    line-height: 30px;
    padding-left: 5px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notice > li > a > .day{
    display: inline-block;
    margin-right: 5px;
    float: right;
}

.gal > li{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-left:15px;
    float:left;
}

.gal a{
    width: 80px;
    height: 80px;
    line-height: 80px;
    display:block;
    text-align: center;
    background-color: lightgray;
    font-size: 3rem;
    color: white;
}

ul.short{
    width: 210px;
    padding-top: 8px;
}

.short > li{
    margin: -1px 10px;
    width: 190px;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
}

.short > li img{
    margin: 7.5px 5px 0 0;
}

footer{
    height: 100px;
    line-height: 100px;
    background-color: #ddd;
}