* {
	box-sizing: border-box;
	color: #888;
	text-decoration: none;
	list-style: none;
	font-style: normal;
	margin: 0;
	padding: 0;
}

header,
footer {
	width: 100%;
	height: 100px;
}

header {
	background-color: #4a4948;
}

footer {
	background-color: #caac7d;
}

a {
	display: block;
}

.container {
	width: 1200px;
	height: 100px;
	margin: 0 auto;
}

.container > * {
	float: left;
}

.logo {
	width: 200px;
	height: 100px;
	padding-top: 30px;
}

nav a {
	width: 200px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.main {
	width: 800px;
	height: 50px;
	margin-left: 150px;
	margin-top: 25px;
}

.main > li {
	width: 200px;
	float: left;
}

.main > li > a {
	box-sizing: content-box;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	border-right: 1px solid black;
	color: white;
}

.main > li:last-child > a {
	border-right: 0;
}

.main > li:hover > a {
	background-color: #caac7d;
	color: #fff;
	border: 0;
}

.sub {
	display: none;
	position: relative;
	z-index: 99;
}

.sub > li > a {
	background-color: #4a4948;
	color: white;
}

.sub > li:hover > a {
	background-color: #caac7d;
}

.slide {
	width: 1200px;
	height: 300px;
	margin: 0 auto;
	position: relative;
}

.slider {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

.slider > a {
	position: absolute;
	top: -300px;
	left: 0;
}

.slider > a:first-child {
	top: 0;
}

.content {
	width: 1200px;
	height: 200px;
	margin: 0 auto;
}

.content > div {
	float: left;
	width: 400px;
	height: 200px;
	padding: 5px;
	position: relative;
}

.content h3.tab {
	width: 100px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	top: 6px;
	left: 30px;
	border: 1px solid black;
	border-radius: 5px 5px 0 0;
	text-align: center;
}

h3.on {
	background-color: #caac7d;
}

.gal_tab {
	margin-left: 99px;
}

.content .box {
	margin-top: 30px;
	border: 1px solid black;
	width: 390px;
	height: 160px;
	display: none;
}

.notice_gal ul {
	padding: 0 5px;
}

.notice_gal li {
	width: 380px;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	margin-top: 7px;
	border-bottom: 1px solid #4a4948;
}

.notice_gal li a {
	float: left;
}

.notice_gal li span {
	float: right;
}

.notice_gal li:hover {
	background-color: #caac7d;
}

.notice_gal li:hover * {
	color: white;
}

.content > div .on {
	color: white;
	display: block;
}

.gal_box a {
	float: left;
	margin: 20px 5px;
}

.gal_box a:hover {
	position: relative;
	top: 20px;
	opacity: 0.5;
}

.gal_box a > img {
	width: 119px;
	height: 100px;
}

.banner > .box > a {
	height: 100%;
}

.banner > .box > a img {
	height: 100%;
	width: 388px;
}

.link a {
	float: left;
	width: 120px;
	height: 150px;
	padding: 10px;
	margin: 25px 5px;
	font-size: larger;
	font-weight: 800;
	text-align: center;
	border-radius: 15px;
	border: 2px solid #caac7d;
	opacity: 0.7;
}

.link a:hover {
	opacity: 1;
	border-color: #4a4948;
}

.link img {
	width: 100px;
	height: 100px;
	display: block;
	margin: 0 auto;
}

.copy {
	width: 800px;
	height: 100px;
	padding-top: 30px;
	text-align: center;
}

.sns > a {
	float: right;
	margin: 20px 3px;
}

.sns img {
	width: 60px;
	height: 60px;
}

.modal {
	position: absolute;
	top: 0;
	width: 100%;
    height: 100%;
    display: none;
}

.modal .bg {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 300px;
	background-color: white;
	border: 1px solid black;
	padding: 10px;
}

.modal input {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 60px;
	height: 30px;
	font-size: 17px;
	border: 0;
	color: white;
	background-color: rgb(32, 32, 32);
	border-radius: 5px;
}

.modal input:hover {
	background-color: rgb(53, 53, 53);
}

.modal h3 {
	text-align: center;
	margin-bottom: 5px;
	padding: 5px;
	border-bottom: 2px solid #caac7d;
	color: black;
}

/*
주조색 : #4A4948
보조색 : #CAAC7D
*/
