* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-style: normal;
	user-select: none;
  color: #222328;
  font-family: sans-serif;
}

a {
	display: block;
}

.wrap {
	width: 1000px;
	height: 650px;
}

.wrap > * {
	float: left;
}

nav {
	width: 200px;
}

.container {
	width: 800px;
	height: 650px;
}

.logo {
	width: 200px;
	height: 40px;
	margin: 30px 0;
}

.main > li {
	width: 180px;
	margin: 0 auto;
	border-radius: 10px;
	overflow: hidden;
	border: 1px solid transparent;
	margin-top: 20px;
}

.main > li:hover > a,
.sub li:hover a {
	background-color: #fff0f6;
}

.main > li > a {
	border-bottom: 1px solid rgb(209, 209, 209);
}

.main > li:hover {
	border-color: #fff0f6;
}

.main a {
	width: 180px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	transition: 0.2s;
}

.sub {
	display: none;
}

.sub a {
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}

.slider {
	width: 800px;
	height: 350px;
	position: relative;
	border-radius: 20px;
	overflow: hidden;
}

.slider a {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.slider a:first-child {
	display: block;
}

.content {
	width: 800px;
	height: 200px;
}

.content > section {
	float: left;
	height: 200px;
	padding: 5px;
	position: relative;
}

.content .notice_gal {
	width: 350px;
}

.content .banner {
	width: 250px;
}

.content .link {
	width: 200px;
}

h3.tab {
	width: 100px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	border: 1px solid black;
	background-color: #fff;
	border-radius: 5px 5px 0 0;
	text-align: center;
	top: 6px;
	left: 30px;
	transition: 0.2s;
}

h3.on {
	background-color: #ffd1e3;
}

.gal_tab {
	margin-left: 99px;
}

.content .box {
	width: calc(100%-10px);
	border: 1px solid black;
	height: 160px;
	display: none;
	position: absolute;
	top: 35px;
	left: 5px;
	border-radius: 7px;
	overflow: hidden;
}

.content .on {
	display: block;
}

.notice {
	padding: 5px;
}

.notice li {
	height: 27px;
	line-height: 27px;
	width: 100%;
	margin-top: 2px;
	border-bottom: 1px solid gray;
	padding: 0 5px;
	transition: 0.2s;
}

.notice li:hover {
	background-color: #ffeff5;
	border-radius: 5px 5px 0 0;
}

.notice li a {
	width: 70%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
}

.notice li span {
	float: right;
}

.gallery a {
	float: left;
	margin: 30px 5px;
	margin-top: 30px;
	position: relative;
}

.gallery img {
	width: 100px;
	height: 70px;
}

section.link {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.link a {
	width: 170px;
	height: 60px;
	padding: 10px;
	line-height: 35px;
	border: 2px solid rgba(0, 0, 0, 0.377);
	border-radius: 5px;
	font-size: 17px;
	transition: 0.2s;
}

.link a:hover {
	border-color: #ffd1e3;
}

.link img {
	width: 40px;
	display: block;
	float: left;
	margin-right: 10px;
}

footer {
	width: 800px;
	height: 100px;
}

.copy {
	width: 600px;
	height: 100px;
	float: left;
	text-align: center;
	padding-top: 15px;
	transition: 0.2s;
	color: gray;
}

.copy:hover {
	color: #222328;
}

.sns,
.family {
	float: right;
	width: 200px;
	height: 50px;
}

.sns {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.sns a {
	padding: 7px;
	border-radius: 5px;
	color: white;
	transition: 0.2s;
	opacity: 0.7;
}

.sns a:hover {
	opacity: 1;
}

.sns a:nth-child(1) {
	background-color: rgb(27, 88, 255);
}

.sns a:nth-child(2) {
	background-color: rgb(255, 27, 217);
}

.sns a:nth-child(3) {
	background-color: rgb(20, 172, 0);
}

.family > div {
	width: 180px;
	text-align: center;
	margin: 0 auto;
}

.family > div {
	margin: 5px auto 0;
	border-radius: 5px;
	overflow: hidden;
}

.family > div > div {
	height: 40px;
	line-height: 40px;
	background-color: rgb(233, 233, 233);
	font-size: 17px;
	transition: 0.2s;
}

.family > div > .on,
.family > div > div:hover {
	background-color: rgb(218, 218, 218);
}

.family ul li {
	height: 30px;
	line-height: 30px;
	background-color: rgb(228, 228, 228);
	transition: 0.2s;
}

.family ul {
	display: none;
}

.family ul li:hover {
	background-color: #ffd1e3;
}

.modal {
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.modal .bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal .pp {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border: 1px solid black;
	padding: 10px;
}

.pp h3 {
	padding: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid black;
}

.pp p {
	padding: 5px;
	margin-bottom: 100px;
}

.pp button {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 60px;
	height: 30px;
	line-height: 30px;
	background-color: rgb(56, 56, 56);
	border-radius: 5px;
	text-align: center;
	border: 0;
	font-size: 17px;
	color: white;
}

.pp button:hover {
	background-color: rgb(68, 68, 68);
}

i {
	display: inline-block;
	transition: 0.5s;
}

i.on {
	transform: rotate(180deg);
}
