*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

img{
    border: 0;
    vertical-align: top;
}

.clearfix::after{
    content: "";
    display: table;
    clear:both;
}

body{
    color: #222328;
}

.wrap{
    width: 1000px;
}

header{
    float: left;
    width: 200px;
    height: 600px;
    background-color: lightgray;
}

.logo{
    width: 200px;
    height: 60px;
    line-height: 60px;
    display: block;
    text-align: center;
    font-size: 18px;
    background-color: rgb(136, 42, 173);
    color: white;
}

nav{
    width: 180px;
    margin: 0 auto;
}

.gnb{
    width: 100%;
    text-align: center;
}

.gnb > li{
    width: 100%;
    position: relative;
}

.gnb > li > a{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    display: block;
    color: black;
    background-color: rgb(188, 146, 207);
}

.gnb > li:hover > a{
    color: white;
    background-color: rgb(96, 50, 117);
}

.sub{
    display: none;
    position: absolute;
    left: 180px;
    top: 0px;
    width: 180px;
}

.sub > li{
    width: 100%;
    height: 30px;
}

.sub > li > a{
    width: 100%;
    height: 30px;
    line-height: 30px;
    display: block;
    color: black;
    background-color: rgb(186, 116, 196);
}

.sub > li:hover > a{
    color: white;
    background-color: rgb(125, 46, 136);
}

.r_con{
    float: right;
}

.r_con > *{
    width: 800px;
    text-align: center;
    font-size: 3rem;

}

.slide{
    height: 300px;
    line-height: 300px;
    background-color: #bbb;
}

.content{
    height: 200px;
    line-height: 200px;
    background-color: #ccc;
}

footer{
    height: 100px;
    line-height: 100px;
    background-color: #ddd;
}