* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: top;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  color: #222328;
  text-align: center;
  font-size: 3rem;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}

header {
  width: 1200px;
  height: 100px;
  line-height: 100px;
  position: relative;
  z-index: 10;
}

header > * {
  float: left;
}

.logo {
  width: 200px;
  margin: 10px 0;
  height: 80px;
  font-weight: bolder;
  background-color: lightblue;
  line-height: 80px;
  text-align: center;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
}

nav {
  float: right;
  width: 700px;
  margin-top: 27.5px;
}
.gnb {
  width: 680px;
  height: 45px;
  text-align: center;
  font-size: 18px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #fff;
  position: absolute;
}

ul.gnb > li {
  width: 25%;
  float: left;
}

ul.gnb > li > a {
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 22px;
}

ul.gnb > li:hover > a {
  background-color: #5f1c25;
  color: #fff;
}

.sub {
  width: 100%;
  display: none;
}

.sub > li {
  width: 100%;
  height: 40px;
  line-height: 40px;
}

.sub > li > a {
  display: block;
  background-color: white;
  width: 100%;
  height: 100%;
}

.sub > li:hover > a {
  background-color: #5f1c25;
  color: #fff;
}

.slide {
  text-align: center;
  height: 300px;
  background-color: #bbb;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slider li {
  position: absolute;
  left: 0;
  top: -300px;
  width: 100%;
  height: 300px;
}

.slider li:first-child {
  top: 0;
}

.content {
  height: 200px;
  line-height: 200px;
  background-color: #ccc;
}

footer {
  height: 100px;
  line-height: 100px;
  background-color: #ddd;
}
